### Read in data file

In [1]:
datafile <- "data/export_chemistry.csv"
df <- read.csv(datafile,header=FALSE)

fields <- c("ID","FirstName","MiddleName","LastName","Institution")
columnNames <- c(
    paste("Trainee",fields,sep="."),
    paste("Mentor",fields,sep="."),
    "relationshipCode","relationshipType")

colnames(df) <- columnNames
head(df)

  Trainee.ID Trainee.FirstName Trainee.MiddleName Trainee.LastName
1      18761              Alan                  P         Koretsky
2      53604            Jeroen                 P.   van der Sluijs
3         20              John                  A            Assad
4      12561            George                 T.        Robillard
5        189            Walter           Bradford           Cannon
6        223              Carl  Friedrich Wilhelm           Ludwig
                                      Trainee.Institution Mentor.ID
1 National Institute of Neurological Disorders and Stroke         9
2                                      Utrecht University     33687
3                                  Harvard Medical School        24
4                                 University of Groningen     52639
5                                  Harvard Medical School       195
6                                    UniversitÃ¤t Leipzig     87777
  Mentor.FirstName Mentor.MiddleName Mentor.LastName
1           Melvin                P.           Klein
2            JosÃ©              C.M.  van Eijndhoven
3             John                HR        Maunsell
4           Philip             Edwin          Wilcox
5            Henry         Pickering        Bowditch
6          Hermann                             Nasse
                  Mentor.Institution relationshipCode relationshipType
1 University of California, Berkeley                1          student
2                 Utrecht University                1          student
3            University of Rochester                2          postdoc
4  University of Washington, Seattle                1          student
5             Harvard Medical School                1          student
6      Philipps-UniversitÃ¤t Marburg                2          postdoc

In [18]:
### define root persion ID
root.ID <- unique(df[df$Mentor.FirstName == "Peter" & df$Mentor.LastName == "Schultz","Mentor.ID"])
stopifnot(length(root.ID) == 1)

#root.ID <- 62876 ### test on Virginia Cornish
#root.ID <- 63525 ### test on Hening Lin
    
root.ID

[1] 52763

In [19]:
getPerson <- function(ID, df) {
    p <- df[df$Trainee.ID==ID,c("Trainee.ID","Trainee.FirstName","Trainee.MiddleName","Trainee.LastName")]
    person <- list()
    person$ID <- as.character(p$Trainee.ID[1])
    person$FirstName <- as.character(p$Trainee.FirstName[1])
    person$MiddleName <- as.character(p$Trainee.MiddleName[1])
    person$LastName <- as.character(p$Trainee.LastName[1])
    person$name <- paste(c(
        substr(person$FirstName,0,1),
        substr(person$MiddleName,0,1),
        substr(person$LastName,0,1) ), collapse="")

    return(person) 
}

getChildren <- function(root.ID, df) {
    root <- getPerson(root.ID, df)
    children.df <- df[df$Mentor.ID == root$ID,]
#    children.ids <- unique(children.df$Trainee.ID)
#    print(paste("A: ", root$ID, children.ids))
#    print(children.df)

    children <- list()
    if( dim(children.df)[1] == 0 ) { return(children); }
#    for( child.id in children.ids ) {
    for( i in 1:dim(children.df)[1] ) {
       child.id <- children.df[i,"Trainee.ID"]
       child.type <- children.df[i,"relationshipType"]
#       print(paste("B: ", child.id))
       child <- getPerson(child.id, children.df)
       child$type <- child.type
#        print(child$ID)
       child$children <- getChildren( child$ID, df )
       children[[length(children)+1]] <- child
    }
    return(children)
}

root <- getPerson(root.ID, df)
root$children <- getChildren(root.ID, df)

In [31]:
library(jsonlite)
json <- jsonlite::toJSON(root,pretty=TRUE,auto_unbox=TRUE)
write(json, paste(c("output/output.json"),collapse=""))